<ActionBar title="" class="action-bar">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="left" android:horizontalAlignment="left">
        <Image src="res://logo" class="action-image m-y-5"></Image>
    </StackLayout>

    <ActionItem (tap)="logout()" ios.position="right" *ngIf="account.isLoggedIn" icon="res://export">
    </ActionItem>

    <ActionItem (tap)="login()" ios.position="right" *ngIf="!account.isLoggedIn" icon="res://name">
    </ActionItem>

</ActionBar>

<TabView #tabView class="tab-view" selectedIndex="0" (selectedIndexChange)="onIndexChanged($event)">
    <StackLayout *tabItem="{title: 'News', iconSource:'res://home'}">
        <router-outlet name="tab0"></router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Stay', iconSource:'res://sofa'}">
        <router-outlet name="tab1"></router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Share', iconSource:'res://plus'}">
        <router-outlet name="tab2"></router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Explore', iconSource:'res://map_marker'}">
        <router-outlet name="tab3"></router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Settings', iconSource:'res://settings'}">
        <router-outlet name="tab4"></router-outlet>
    </StackLayout>
</TabView>