<ActionBar title="App Template" class="action-bar">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="left" android:horizontalAlignment="left">
        <Image src="res://logo" class="action-image m-y-5"></Image>
    </StackLayout>

    <ActionItem (tap)="logout()" ios.position="right" *ngIf="account.isLoggedIn" icon="res://export">
    </ActionItem>

    <ActionItem (tap)="login()" ios.position="right" *ngIf="!account.isLoggedIn" icon="res://name">
    </ActionItem>

</ActionBar>

<TabView #tabView class="tab-view" selectedIndex="0" (selectedIndexChange)="onIndexChanged($event)">
    <StackLayout *tabItem="{title: 'News', iconSource:'res://home'}">
        <app-newsfeed></app-newsfeed>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Stay', iconSource:'res://sofa'}">
        <app-stay></app-stay>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Share', iconSource:'res://plus'}">
        <app-share></app-share>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Explore', iconSource:'res://map_marker'}">
        <app-explore></app-explore>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Settings', iconSource:'res://settings'}">
        <app-settings></app-settings>
    </StackLayout>
</TabView>