<GridLayout>
    <ListView [items]="news" (itemLoading)="onItemLoading($event)" class="list-group" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
            <StackLayout class="list-group-item">
                <WebImage [src]="item.image" stretch="aspectFill" height="240" *ngIf="item.image" class="m-b-10"></WebImage>
                <Label [text]="item.title" textWrap="true" class="list-group-item-heading"></Label>
                <Label [text]="item.content" textWrap="true" class="list-group-item-text"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>